html.no-scroll, html.no-scroll body {
  height: 100%;
  overflow: hidden;
}

.editor, .preview {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.editor {
  left: 0;
}
.editor .firepad, .editor .firepad > div {
  height: 100%;
}
.editor textarea {
  font-family: Consolas, Monaco, monospace;
  border: 0;
  box-shadow: none;
  resize: none;
  width: 100%;
  height: 100%;
  max-width: 50em;
  margin: 0 auto;
  font-size: 120%;
  padding: 1em 1.5em;
}
.editor textarea:focus {
  box-shadow: none;
}

.preview {
  right: 0;
  padding: 2em;
}
.preview > :first-child {
  margin-top: 0;
}

.wrapper .editor, .wrapper .preview {
  -moz-transition: 250ms ease all;
  -o-transition: 250ms ease all;
  -webkit-transition: 250ms ease all;
  transition: 250ms ease all;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.wrapper.show-preview .editor, .wrapper.show-preview .preview {
  width: 50%;
}
.wrapper.show-preview .preview {
  opacity: 1;
  width: 50%;
}
.wrapper .editor {
  width: 100%;
}
.wrapper .preview {
  opacity: 0;
  width: 0%;
}

.buttons {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 2;
  opacity: 0.2;
  -moz-transition: 100ms ease all;
  -o-transition: 100ms ease all;
  -webkit-transition: 100ms ease all;
  transition: 100ms ease all;
}
.buttons:hover {
  opacity: 1;
}
.buttons button, .buttons button:hover {
  background: none;
}
.buttons button:focus {
  outline: 0;
  background: none;
}

.output {
  margin: 4em auto;
  padding: 0 1em;
  max-width: 60em;
}

.cm-s-synpad {
  font-family: Consolas, Menlo, Meslo, Monaco, monospace;
  font-size: 18px;
  line-height: 1.4;
}
.cm-s-synpad.CodeMirror {
  color: #555;
}
.cm-s-synpad .CodeMirror-scroll {
  padding: 2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cm-s-synpad .CodeMirror-selected {
  background: #ddd !important;
}
.cm-s-synpad .CodeMirror-cursor {
  border-left: 2px solid rgba(66, 139, 202, 0.7) !important;
}
.cm-s-synpad span.cm-header {
  color: #222;
}
.cm-s-synpad span.cm-comment {
  color: #aaa;
}
.cm-s-synpad span.cm-atom {
  color: red;
}
.cm-s-synpad span.cm-number, .cm-s-synpad span.cm-attribute {
  color: green;
}
.cm-s-synpad span.cm-keyword {
  color: blue;
}
.cm-s-synpad span.cm-string {
  color: rgba(66, 139, 202, 0.6);
}
.cm-s-synpad span.cm-meta {
  color: orange;
}
.cm-s-synpad span.cm-variable-2, .cm-s-synpad span.cm-tag, .cm-s-synpad span.cm-variable-3, .cm-s-synpad span.cm-def {
  color: black;
}
.cm-s-synpad span.cm-bracket {
  color: violet;
}
.cm-s-synpad span.cm-link {
  color: #428bca;
}
.cm-s-synpad span.CodeMirror-matchingbracket {
  color: silver;
}
.cm-s-synpad span.cm-builtin, .cm-s-synpad span.cm-special {
  color: wheat;
}
.cm-s-synpad span.cm-error {
  color: tomato;
}
