body, html {
    height: 100%;
    overflow: hidden;
}

%column {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.editor {
    @extend %column;
    left: 0;

    .firepad {
        &, & > div {
            height: 100%;
        }
    }

    textarea {
        font-family: Consolas, Monaco, monospace;
        border: 0;
        box-shadow: none;
        resize: none;
        width: 100%;
        height: 100%;
        max-width: 50em;
        margin: 0 auto;
        font-size: 120%;
        padding: 1em 1.5em;

        &:focus {
            box-shadow: none;
        }
    }
}

.preview {
    @extend %column;
    right: 0;
    padding: 2em;

    & > :first-child {
        margin-top: 0;
    }
}

.wrapper {
    .editor, .preview {
        @include transition(250ms ease all);
        @include translate3d(0,0,0);
    }

    &.show-preview {
        .editor, .preview {
            width: 50%;
        }

        .preview {
            opacity: 1;
            width: 50%;
        }
    }

    .editor {
        width: 100%;
    }

    .preview {
        opacity: 0;
        width: 0%;
    }
}

.buttons {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2;
    opacity: 0.2;
    @include transition(100ms ease all);

    &:hover {
        opacity: 1;
    }

    button {
        &, &:hover {
            background: none;
        }

        &:focus {
            outline: 0;
            background: none;
        }
    }
}

.output {
    margin: 1em auto;
    padding: 0 1em;
    max-width: 50em;
}
