$link-color: #428bca;

.cm-s-synpad {
    font-family: Consolas, Menlo, Meslo, Monaco, monospace;
    font-size: 18px;
    line-height: 1.4;

    &.CodeMirror {
        color: #555;
    }

    .CodeMirror-scroll {
        padding: 2em;
        @include box-sizing(border-box);
    }

    .CodeMirror-sizer {
        max-width: 60em;
        margin: 0 auto !important;
    }

    .CodeMirror-selected {
        background: #ddd !important;
    }

    .CodeMirror-cursor {
        border-left: 2px solid rgba($link-color, 0.7) !important;
    }

    span.cm-header {
        color: #222;
    }

    span.cm-comment {
        color: #aaa;
    }

    span.cm-string {
        color: rgba($link-color, 0.5);
    }

    span.cm-link {
        color: $link-color;
    }
}
